# Pandas.Series

### 1 - starting off with series

In [41]:
import pandas as pd

In [42]:
students = ['ALice','jack','molly']
pd.Series(students)

0    ALice
1     jack
2    molly
dtype: object

In [43]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [44]:

#* NaN stants for not a number 
import numpy as np 
np.nan == None
np.nan == np.nan

False

In [45]:
# to test the nan values in numpy 
## use np.isnan()

np.isnan(np.nan)

True

In [46]:
sudents_scires = {
    'Alice': 'math',
    'Alice2': 'math2',
    'Alice3': 'math3'
}

s = pd.Series(sudents_scires)
s

Alice      math
Alice2    math2
Alice3    math3
dtype: object

In [47]:
print(s.index,"\n",s.values)

Index(['Alice', 'Alice2', 'Alice3'], dtype='object')
 ['math' 'math2' 'math3']

### 2- Quering Series

In [48]:
students_classes = {
    'alice': 'math',
    'jack': 'math2',
    'molly': 'math3'
}

s = pd.Series(students_classes)
s.iloc[0]

'math'

In [49]:
s.loc['alice']

'math'

### generating a series using np.random.randn

In [50]:
numbers = pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    917
1     30
2    134
3    699
4    682
dtype: int32

### time it and vectorization

In [51]:
%%timeit -n 1000 
total = 0
for number in numbers:
    total += number
    
total/len(numbers)

1.91 ms ± 287 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [52]:
%%timeit -n 1000
total = numbers.sum()
total/len(numbers)

## vectorized operations are faster

81.3 µs ± 5.89 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [53]:
numbers+=2 #* it will add 2 to each element in the series
numbers.head()

0    919
1     32
2    136
3    701
4    684
dtype: int32

### loc functions
- loc[index] for row index
- iloc[index] for column index

In [54]:
s = pd.Series([1,2,3,4,5])
s.loc[2] = 10
s.loc['andrew'] = 99
s

0          1
1          2
2         10
3          4
4          5
andrew    99
dtype: int64

In [55]:
students_classes = pd.Series(
    {'alice': 'math',
     'jack': 'math2',
     'molly': 'math3'})

kelly_classes = pd.Series(['math', 'math2', 'math3'], index=[
                          'kelly', 'kelly', 'kelly'])

In [57]:
all_students = students_classes.append(kelly_classes)
all_students

C:\Users\DELL\AppData\Local\Temp\ipykernel_4460\1229767647.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_students = students_classes.append(kelly_classes)

alice     math
jack     math2
molly    math3
kelly     math
kelly    math2
kelly    math3
dtype: object

In [66]:
print(all_students.iloc[0]) #* location by index order
print(all_students.loc['kelly']) #* location by index name

math
kelly     math
kelly    math2
kelly    math3
dtype: object