In [86]:
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv('NoteBooks/resources\week-2\datasets\presidents.csv')
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"

In [88]:
df['First'] = df['President']

In [89]:
# df.drop('first', axis=1, inplace=True)

In [90]:
df['First'].replace(to_replace='\s[\w]+', value='', regex = True, inplace=True)

In [91]:
df.head(3)

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas

In [92]:
del(df['First'])

In [93]:
def split_name(Dataframe):
    Dataframe["First"] = Dataframe['President'].split(" ")[0]
    Dataframe["Last"] = Dataframe['President'].split(" ")[-1]
    return Dataframe

In [94]:
# * applying funcitons that returns dataframes
df = df.apply(split_name, axis= 1 )

In [95]:
df.set_index('#',inplace= True)

In [96]:
pattern = '(^[\w]+)\s([\w]+)$'
df['President'].str.extract(pattern).head()

        0           1
#
1  George  Washington
2    John       Adams
3  Thomas   Jefferson
4   James     Madison
5   James      Monroe

In [102]:
pattern = '(?P<First>^[\w]+)\s(?P<Last>[\w]+$)'
names = df['President'].str.extract(pattern)

In [108]:
del(df["Last"])
del(df["First"])

In [109]:
df['First'] = names['First']
df['Last'] = names["Last"]

In [110]:
df.head(3)

,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Last
#,,,,,,,,,
1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson

In [144]:
df['Born'].str.extract("(?P<month>\S+) (?P<Day>\S+(?=\,)), (?P<Year>[\w]+)").head(3)

  month Day  Year
#
1   Feb  22  1732
2   Oct  30  1735
3   Apr  13  1743

In [152]:
date = df['Born'].str.extract("(\S+ \S+(?=\,), [\w]+)")
df['Born'] = date

In [154]:
df['Born'] = pd.to_datetime(df['Born'])

In [155]:
df.head(2)

,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Last
#,,,,,,,,,
1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams

In [156]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [164]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)
S

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object