# **Scale**

## Ratio scale 
- units are equally spaces 
- mathimatical operations are valid 
- eg. height, weight, length

## Interval scale
- units are equally spaced
- there is no true zero
- eg. temperature , where 0 is true value, not the absence of value

## Ordinal scale
- units are ordered but not equally spaced
- eg, grade, rank, score
- A+, A, A-, B+, B, B-, C+, C, C-, D+, D, D-, F

## Nominal scale
- categories of data that have no order 
- eg . teams of sports

In [34]:
import pandas as pd

In [35]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-'], index=['exellent',
             'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'bad', 'bad', 'bad']
             ,columns=['Grades'])

df

          Grades
exellent      A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
bad           D+
bad            D
bad           D-

In [36]:
df.dtypes

Grades    object
dtype: object

In [37]:
df['Grades'].astype('category')

exellent     A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
ok            C
ok           C-
bad          D+
bad           D
bad          D-
Name: Grades, dtype: category
Categories (12, object): ['A', 'A+', 'A-', 'B', ..., 'C-', 'D', 'D+', 'D-']

In [38]:
my_categgory = pd.CategoricalDtype(categories=[
                                   'D-', 'D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], ordered=True)

grades = df['Grades'].astype(my_categgory)
grades.head()

exellent     A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (12, object): ['D-' < 'D' < 'D+' < 'C-' ... 'B+' < 'A-' < 'A' < 'A+']

In [39]:
df[df['Grades'] > 'C'] #* not working as inteneded

    Grades
ok      C+
ok      C-
bad     D+
bad      D
bad     D-

In [40]:
pd.DataFrame(grades[grades> 'C'])

          Grades
exellent      A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+

In [44]:
salaries = pd.DataFrame([['Low', 100000], ['Medium', 200000], ['High', 400000]], columns=['Name', 'Salary'])
salaries

     Name  Salary
0     Low  100000
1  Medium  200000
2    High  400000

In [45]:
salaries['Salary']

0    100000
1    200000
2    400000
Name: Salary, dtype: int64

In [46]:
pd.cut(salaries['Salary'],2) #* works only with numeric values

0     (99700.0, 250000.0]
1     (99700.0, 250000.0]
2    (250000.0, 400000.0]
Name: Salary, dtype: category
Categories (2, interval[float64, right]): [(99700.0, 250000.0] < (250000.0, 400000.0]]

In [47]:
grades

exellent     A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
ok            C
ok           C-
bad          D+
bad           D
bad          D-
Name: Grades, dtype: category
Categories (12, object): ['D-' < 'D' < 'D+' < 'C-' ... 'B+' < 'A-' < 'A' < 'A+']