In [1]:
import pandas as pd
import numpy as np

## TimeStamp

In [2]:
pd.Timestamp('2019-01-01 10:50AM')

Timestamp('2019-01-01 10:50:00')

In [ ]:
pd.Timestamp('01-01')

In [9]:
pd.Timestamp(2020,12,31,23,0,0)

Timestamp('2020-12-31 23:00:00')

In [13]:
pd.Timestamp(2022,8,5,13,39,0).isoweekday() # shows the day of the week # 1 is Monday

5

In [16]:
pd.Timestamp(2020,12,31,23,0,0).second

0

## Period

In [32]:
x = pd.Period('2019-01-01 10:50AM')-2
x

Period('2019-01-01 10:48', 'T')

In [30]:
pd.Period('2019-01-01')-2

Period('2018-12-30', 'D')

In [ ]:
pd.Period('2019-01-01')

## DateTimeIndex

In [35]:
t1 = pd.DataFrame(list('abc'), [pd.Timestamp('2019-01-01 10:50AM'),
               pd.Timestamp('2019-01-01 10:51AM'), pd.Timestamp('2019-01-01 10:52AM')])

t1

                     0
2019-01-01 10:50:00  a
2019-01-01 10:51:00  b
2019-01-01 10:52:00  c

In [37]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [38]:
type(t1.values)

numpy.ndarray

## Converting to DateTime

In [39]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-01-01','7/4/2019']
ts2 = pd.DataFrame(np.random.randint(10,100,(4,2)), index=d1, columns=['A','B'])
ts2

               A   B
2 June 2013   76  72
Aug 29, 2014  38  93
2015-01-01    48  18
7/4/2019      98  52

In [41]:
ts2.index =pd.to_datetime(ts2.index)
ts2

             A   B
2013-06-02  76  72
2014-08-29  38  93
2015-01-01  48  18
2019-07-04  98  52

In [42]:
pd.to_datetime("4.7.12", dayfirst=True)

Timestamp('2012-07-04 00:00:00')

## Time Delta

In [46]:
pd.Timestamp('9/2/2019') - pd.Timestamp('9/4/2019') #! dont apply any adjustments (dayfirst, yearfirst)

Timedelta('-2 days +00:00:00')

In [60]:
pd.Timestamp('9/2/2019') + pd.Timedelta('1D')

Timestamp('2019-09-03 00:00:00')

In [61]:
pd.Timestamp('9/2/2019') + pd.Timedelta('1D') - pd.Timestamp('9/4/2019')

Timedelta('-1 days +00:00:00')

In [64]:
pd.Timestamp(2022,8,5,13,39,0).weekday()

4

In [65]:
pd.Timestamp(2022,8,5,13,39,0) + pd.offsets.Week()

Timestamp('2022-08-12 13:39:00')

In [72]:
(pd.Timestamp(2022,8,5,13,39,0) + pd.offsets.MonthEnd()).day_name()

'Wednesday'

## Creating DF/ series with pandas

In [76]:
dates = pd.date_range('2019-01-01', '2019-01-10', freq='D')
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', freq='D')

In [85]:
dates = pd.date_range('2019-01-01', periods= 10, freq='QS-JAN')
dates

DatetimeIndex(['2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01',
               '2020-01-01', '2020-04-01', '2020-07-01', '2020-10-01',
               '2021-01-01', '2021-04-01'],
              dtype='datetime64[ns]', freq='QS-JAN')

In [106]:
date = pd.date_range('2019-01-01', periods= 9, freq='2W-SUN')
df = pd.DataFrame({'A': np.random.randint(10,1000,9), 'B': np.random.randint(10,1000,9)}, index=date)
df

              A    B
2019-01-06  600  558
2019-01-20  693  746
2019-02-03  820  555
2019-02-17   93  404
2019-03-03   76  166
2019-03-17   26  945
2019-03-31   43   34
2019-04-14  883  286
2019-04-28  314   15

In [103]:
df.index.day_name()

Index(['Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday',
       'Sunday', 'Sunday'],
      dtype='object')

In [107]:
df.diff() # difference between consecutive values

                A      B
2019-01-06    NaN    NaN
2019-01-20   93.0  188.0
2019-02-03  127.0 -191.0
2019-02-17 -727.0 -151.0
2019-03-03  -17.0 -238.0
2019-03-17  -50.0  779.0
2019-03-31   17.0 -911.0
2019-04-14  840.0  252.0
2019-04-28 -569.0 -271.0

In [112]:
df['2019-04':] #* slicing

              A    B
2019-04-14  883  286
2019-04-28  314   15