### 1 - Creating a list with online comprehensions

In [5]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

## 2 - Formating with commas

In [6]:
numbers = "{:,}".format(5000000)
print(numbers)

5,000,000

In [9]:
def my_value(number):
    return ("{:,}".format(number))


print(my_value(100000000))

100,000,000

In [10]:
my_num = 235478.875425
s = "{:,.2f}".format(my_num) #* with 2 digits after comma
print(s)

235,478.88

## 3 - It's easier to work with str.split() than regular expressions

## List comprehension

In [13]:
import numpy as np
x= [np.random.random(100) for x in range(100)] #* creates 100x100 list
x[1].__len__() #* returns 100

100

In [15]:
import numpy as np
import pandas as pd

df = pd.DataFrame([np.random.chisquare(df=1,size= 100)for x in range(100)]) #* check more about this 
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.163345,0.845767,0.670575,8.469704e-08,1.137738,1.532048,0.165653,2.059058,2.730906,0.384381,...,0.267867,0.049582,1.619718,0.065533,0.242684,0.093356,0.010810,0.009138,2.404642,0.205246
1,1.446566,1.093253,0.848018,1.617888e+00,0.363807,5.329396,0.694407,0.182683,0.621786,1.052774,...,1.763759,0.441337,0.271511,0.046717,1.382635,0.156647,0.088574,0.294024,0.273733,0.008435
2,0.297239,0.305757,0.744182,3.275959e+00,2.253446,1.791785,0.804543,1.612900,0.952840,0.931523,...,0.746227,0.391697,5.816466,0.220872,0.796559,0.214708,0.315064,0.002504,0.137108,2.733739
3,0.191436,1.801872,0.361709,4.892055e-01,0.297562,0.042270,0.526799,0.852941,2.720060,0.133849,...,0.172237,0.022236,0.448989,2.082244,0.053299,0.237441,0.074395,0.028593,0.003905,6.117812
4,0.048047,2.539986,0.299610,7.178226e-04,1.219407,0.210337,0.010716,0.011863,0.154247,0.387350,...,0.673111,0.735577,3.979230,0.017915,4.637825,1.971339,4.175802,0.582068,0.734362,0.636010

## intersting slicing techniques

In [ ]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S[1:4] # 1 to 3
S['b':'e'] #1 to 4

## Errors encountered

- 'float' object has no attribute 'shape' - **corr()**
    - Just change type
    ```python
    astype(float)
    ```
- Try using .loc[row_indexer,col_indexer] = value instead
    - just use 
    ```python
    df.copy()
    ```